/*-----------------------------
   GRFDRIVER.RC resource script
  -----------------------------*/
#include <windows.h>
#include "GRFDriver.h"

GRFDriver MENU
{
     MENUITEM "E&xit",                       IDM_EXIT
     MENUITEM "&Next",                       IDM_NEW
     MENUITEM "&Redraw",                     IDM_REDRAW
     MENUITEM "&Go",                         IDM_GO
     MENUITEM "&Print",                      IDM_PRINT
     MENUITEM "Option &1",                       IDM_OPT1
     MENUITEM "Option &2",                       IDM_OPT2

     POPUP "&Help",                          HELP
     {
          MENUITEM "&Help...",               IDM_HELP
          MENUITEM "&About GRFDriver...",    IDM_ABOUT
     }
}
